<h1>Meus Cursos</h1>
<% @enrollments.each do |enrollment| %>
  <p><%= enrollment.course.name %></p>
  Comprado em: <%= enrollment.created_at %> por <%= number_to_currency enrollment.price %>
<% end %>